<nav class="navbar navbar-inverse">
<div class="container-fluid">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">History of Universe</a>
  </div>
  <div>
    <span>
      <div class="collapse navbar-collapse" id="navbar-collopase-1">
        <ul class="nav navbar-nav navbar-right">
          <li><form><a href="#" class="btn btn-success navbar-btn btn-sm" data-toggle="modal" data-target="#questionModal">Ask a question
          </a></form></li>
        </div>
    </span>
    </ul>
  </div>
</div>
</nav>
