<div class="media">
  <div class="lead">
    <div class="media-left">
      <img src="https://ng-bootstrap.github.io/img/logo.svg"
        class="media-object" style="width:60px">
    </div>
    <div class="media-body">
      <h4 class="media-heading">user@email.com asked</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 nopadding">
      <div>
        <button class="btn btn-primary btn-sm btn-center" data-toggle="modal" data-target="#answersModal">Submit a new answer</a>
      </div>
      <%= render 'home/new_answer_form' %>
      <hr/>
      <div class="media-right">
        <img src="https://ng-bootstrap.github.io/img/logo.svg"
          class="media-object" style="width:60px">
      </div>
      <div class="media-body">
        <h4 class="media-heading">user@email.com answered</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div>
      <div class="media-right">
        <img src="https://ng-bootstrap.github.io/img/logo.svg"
          class="media-object" style="width:60px">
      </div>
      <div class="media-body">
        <h4 class="media-heading">user@email.com answered</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
      <div>
      <div class="media-right">
        <img src="https://ng-bootstrap.github.io/img/logo.svg"
          class="media-object" style="width:60px">
      </div>
      <div class="media-body">
        <h4 class="media-heading">user@email.com answered</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
</div>
</div>
</div>
