<div class="media">
  <div class="media-left">
    <img src="https://ng-bootstrap.github.io/img/logo.svg"
      class="media-object" style="width:60px">
  </div>
  <div class="media-body">
    <h4 class="media-heading">user@email.com asked</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>
